<div class="container">
  <div class="row">
   <div class="col-12">
    <h1>NOMBRE : Maria Fernanda Ramirez Olivares</h1>
    <h1>TELEFONO: 3339458823</h1> 
    <h1>DIRECCION: Tonala JAL</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-1 foto"> <a href="https://www.instagram.com/?hl=es-la"><img src="../../assets/img/logo.png" width="70" height="70" alt=""></a></div>
      <div class="col-1 foto"> <a href="https://es-la.facebook.com/"><img src="../../assets/img/descarga.png" width="60" height="60" alt=""></a></div>
  </div>
</div>